<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh 1vw;
    background-color: grey;
}
nav {
    padding: 0 2vw;
    font-size: 1.2rem;
}
nav a {
    text-decoration: none;
    color: #ffffff;
=======
body {
    font-family: 'Raleway', sans-serif;
>>>>>>> e11a1c36293c815f22b1659c3011b9ed4a34a6fa
}